<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Übersichtsseite</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
            integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            crossorigin="anonymous"></script>

    {% block content %}
{% for message in get_flashed_messages()%}
<div class="alert alert-success" role="alert">
  Datei erfolgreich hochgeladen. Klicke auf Refresh, um die Datei anzuzeigen.
</div>
{% endfor %}
    {%endblock content%}
</head>

<body style="padding: 0; margin: 0">

<header>
    <nav class="navbar navbar-light" style="background-color: #ec6f04; margin-bottom: 40px">
        <div class="container-fluid">
            <form method="post" action="/login">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" style="color: white">
                    <span class="navbar-toggler-icon" style="color: #ffffff"></span>
                </button>
            </form>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                 aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menü</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content flex-grow-1 pe-3">
                        <p>
                            <li class="nav-item">
                        <div class="container px-4">
                            <div class="row g-0">
                                <div class="col-sm-4 col-md-3">
                                    <img src="{{ url_for('static', filename='GrafikUser.jpg') }}"
                                         class="rounded mx-auto d-block" width="50" height="120"
                                         alt="Bild nicht verfügbar">
                                </div>
                                <div class="col-sm-6 col-md-7">
                                    <h3>Ihr User:</h3>
                                    <h4 style="font-weight: lighter; font-size: smaller; color: #6c757d">Username:
                                        '{{user_list[0]}}'</h4>
                                    <h4 style="font-weight: lighter; font-size: smaller; color: #6c757d">Name:
                                        '{{user_list[1]}} {{user_list[2]}}' </h4>
                                    <h4 style="font-weight: lighter; font-size: smaller; color: #6c757d">Geburtstag:
                                        '{{user_list[3]}}'</h4>
                                </div>
                            </div>
                        </div>
                        </li>
                        </p>
                        <li class="nav-item">
                            <form method="post" action="/impressum">
                                <button class="btn btn-secondary"
                                        style="color: #ec6f04; background-color: white; border-color: #ec6f04; margin-top: 10px; width: 360px; height: 35px"
                                        type="submit">Impressum
                                </button>
                            </form>
                            <form method="post" action="/logout">
                                <button class="btn btn-secondary"
                                        style="color: #ec6f04; background-color: white; border-color: #ec6f04; margin-top: 10px; width: 360px; height: 35px"
                                        type="submit" name="logout">Logout
                                </button>
                            </form>
                            <form method="post" action="/logout">
                                <input class="btn btn-secondary" type="submit" name="delete" value="Account löschen"
                                       style="color: white; background-color: red; border-color: red; margin-top: 10px; width: 360px; height: 35px">
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
            <a class="navbar-brand" style="color: #ffffff">Team Data Analytics</a>
        </div>
    </nav>
</header>

<div class="container mw-100">
    <!--Überschrift."-->
    <h2 style="font-weight: bold">Übersichtsseite</h2>

    <!--Grid System-->
    <div class="row">
        <!-- Linke Box für Hochgeladene Excel Dateien-->

        <div class="col-5 bg">
            <h3 style="color: #ec6f04; font-style: italic; font-weight: lighter">Upload</h3>
            <!-- Dateiupload -->
            <form action="/uebersichtsseite" method="post"
                  enctype="multipart/form-data">
                <input type="file" name="file"/>

                {% if fileFlag %}
                <div>
                    <h5 style="color: red; font-size: smaller; margin-top: 5px; margin-bottom: 5px; font-weight: bolder">
                        Die Datei existiert bereits und wurde nicht überschrieben</h5>
                </div>
                {% endif %}


                <!-- <p style="margin-bottom: -2px; font-size: small; color: #6c757d; font-style: italic">Trenner:</p> -->
                <select class="form-control" name="seperator" id=seperator
                        style="margin-bottom: 10px; width: 375px; margin-top: 10px; color: #6c757d; border-color: #6c757d">
                    <option value="" disabled hidden>Seperator wählen</option>
                    <option value="," selected>,</option>
                    <option value=";">;</option>
                </select>
                <div class="btn-group-toggle" data-toggle="buttons" align="left" style="margin-bottom: 15px">
                    <input class="btn btn-secondary" type="submit" name="submit" value="Datei Senden"
                           style="width: 130px">
                    <label class="btn btn-secondary">
                        <input type="checkbox" checked autocomplete="off" style="width: 30px">Überschriften
                    </label>
                    <input class="btn btn-secondary" type="submit" name="submit" value="Refresh" style="width: 80px">
                </div>

                <h3 style="color: #ec6f04; font-style: italic; font-weight: lighter">Dateiarchiv</h3>

            </form>

            <!-- Buttons erstellen -->
            <div class="d-grid gap-2">

                {% for filenames in filenames %}
                <form action="{{ url_for('specUebersicht', table=filenames) }}" method="POST">
                    <button type="submit" class="btn btn-outline-secondary"
                            style="padding-left:0; height: 35px; width: 375px; text-align: center; font-size: small"
                            id="{{filenames}}"
                            value="{{filenames}}" name="file">{{filenames}}
                    </button>
                </form>
                {% endfor %}
            </div>
        </div>

        <!-- Rechte Box zum Sortieren und Auswählen der Daten -->
        <div class="col-7 bg" style="margin-left: -100px">
            <h3 style="color: #ec6f04; font-style: italic; font-weight: lighter">Selektion der Daten</h3>
            <h4 style="font-weight: lighter; font-size: smaller; color: #6c757d">Table: '{{tablename}}'</h4>
            <div class="table overflow-scroll" style="height: 500px; width: 61vW; font-size: small">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        {% for table in tables %}
                        <!--<th scope="col">{{titles[loop.index]}}</th>-->
                        <td>{{ table|safe }}</td>
                        {% endfor %}
                    </tr>

                    </tbody>
                </table>
            </div>

            <!--Spalten filtern-->
            <form method="POST" action="{{ url_for('specUebersicht', table=table) }}">
                <p>
                    <label for="spaltenfilter" class="form-label" style="font-weight: lighter">Einzelne Spalten
                        filtern:</label>
                    <input class="form-control" name="spaltenfilter" id=spaltenfilter
                           placeholder="Spalten auswählen [Eingabe alle Anzeigen: Alle] zum Filtern [Eingabe: Spalte1,Spalte2,...]"
                           style="border-color: #6c757d">
                </p>
                <p>
                    <label for="spalte" class="form-label" style="font-weight: lighter">Nach Werten filtern:</label>
                    <input class="form-control" name="spalte" id=spalte
                           placeholder="Nach welcher Spalte soll gefiltert werden?" style="border-color: #6c757d">
                    <select class="form-control" name="operator" id=operator
                            style="margin-bottom: 10px; margin-top: 10px; border-color: #6c757d; color: #6c757d">
                        <option value="" selected disabled hidden>Operator wählen</option>
                        <option value="<">Kleiner</option>
                        <option value=">">Größer</option>
                        <option value="==">Gleich</option>
                        <option value="!=">Ungleich</option>
                    </select>
                    <input type="text" class="form-control" name="wert" id=wert placeholder="Opt.: Sortierungswert"
                           style="margin-bottom: 10px; margin-top: 10px; border-color: #6c757d">
                <div class="form-check">
                    </p>

                    <input class="form-check-input" type="checkbox" name="checkbox" id="checkbox"
                           style="border-color: #6c757d">
                    <label class="form-check-label" for="checkbox" style="font-weight: lighter">Beide filtern</label>
                </div>
                <button class="btn btn-secondary" type="submit">Filtern</button>


            </form>
            <div>
                <form method="POST" action="{{ url_for('specUebersicht', table=table) }}">
                    <label for="subset" class="form-label" style="font-weight: lighter">Name für Subset</label>
                    <input class="form-control" name="subset" id=subset
                           placeholder="Geben Sie den Namen ein, unter dem Sie das Subset speichern möchten"
                           style="border-color: #6c757d">
                    <button class="btn btn-primary"
                            style="background-color: #ec6f04; margin-top: 10px; margin-right: 15px; border-color: #ec6f04; float: left"
                            type="submit"
                            value="Subset speichern">Subset speichern
                    </button>
                </form>
                <form method="post" action="{{ url_for('detailseite', table=table) }}">
                    <button class="btn btn-primary"
                            style="background-color: #ec6f04; border-color: #ec6f04; margin-top: 10px; margin-bottom: 5px; float:left"
                            type="submit">Detailseite
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<footer class="mt-auto">
    <div align="center">
        <p>
            <a href="/impressum" class="link-secondary">Impressum</a>
        </p>
    </div>
</footer>
</body>
</html>